<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% block content %}

{% for instance in object_list %}
    <p>Position: {{ instance.Position }}</p>
    <p>Company: {{ instance.Company }}</p>
    <p>Salary: {{ instance.Salary }}</p>
    <p>URL: <a href='{{ instance.get_absolute_url }}'>{{ instance.URL }}</a></p>
{% endfor %}

{% endblock %}
