<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% block content %}

<p>{{job_input}}, {{location_input}}</p>


<table style="width: 800px;" border="1px solid black;">
  <tr>
    <th style="text-align: center; width: 200px;">Position</th>
    <th style="text-align: center; width: 200px;">Company</th>
    <th style="text-align: center; width: 200px;">Salary</th>
    <th style="text-align: center; width: 200px;">URL</th>
  </tr>
</table>
{% for instance in object_list %}
<table style="width: 800px;" border="1px solid black;" >
  <tr>
    <td style="text-align: center; width: 200px;">{{ instance.Position }}</td>
    <td style="text-align: center; width: 200px;">{{ instance.Company }}</td>
    <td style="text-align: center; width: 200px;">{{ instance.Salary }}</td>
    <td style="text-align: center; width: 200px;"><a href='{{ instance.get_absolute_url }}'>{{ instance.URL }}</a></td>
  </tr>
</table>
{% endfor %}

{% endblock %}
